<h3>Post a Comment</h3>
<%= form_for [ @job, @comment ] do |f| %>
  <p>
    <%= f.label :content, "Comment" %>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Add Comment' %>
  </p>
<% end %>
